.visible{
	visibility: visible!important;
}
.hide{
	visibility: hidden!important;
}

.opacity-0{
	opacity: 0;
}
.opacity-1{
	opacity: 1;
}

.translate-0{
	transform: translate(0)!important;
}


.pre{
	white-space: pre;
}
.pre span{
	display: inline-block;
}
.pre span:hover{
	cursor: default;
}


@keyframes text-animate{
	50%{
		transform: translateY(-20%) scale(1.1);
	}
}

.text-animate{
	display: inline-block;
	color: $blue;
	animation: text-animate 1s ;
}


.button{
	display: block;
	width: auto;
	align-self: flex-start;

	color: $blue;
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 1.1em;
	border: 1px solid $blue;
	transition: .4s;
}
.button:hover{
	background: $blue;
	color: #000;
}



body{
	position: relative;
	width: 100%;
	min-width: 320px;
	height: auto;
	min-height: 100vh;
	background: $background;
	color: $baseColor;
	padding-left: 250px;
	padding-right: 10px;

	font-size: 18px;
	line-height: 1.2;
	font-family: monospace;
	overflow-x: hidden;
}

.body-start-text, .body-end-text{
	height: 10%;
	padding: 10px 0;
	font-style: italic;
}
.code{
	color: $codeColor;
	font-size: .9em;
	font-style: italic;
	white-space: pre-wrap;
}

.wrap{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 10px;
	padding-right: 1em;
}

.main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex: 1;
	padding-left: 1.7em;
}
.content{
	display: flex;
	flex-direction: column;
	min-width: 320px;
}


h1{
	color: #eee;
	padding-left: .4em;
	font-size: 2.5em;
	font-weight: bold;
}









@media (max-width: $mobWidth){
	body{
		padding-left: 0;
	}
}

@media (max-width: 1020px){

}

@media (max-width: 960px){
	body{
		font-size: 16px;
	}
	.main{
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media (max-width: 640px){

}

@media (max-height: 560px){

}

@media (max-width: 480px){
	body{
		font-size: 14px;
	}
}

@media (max-width: 360px){

}