@media (max-width: 1200px){
	html{
		font-size: 16.2px
	}
}
@media (max-width: 1000px){
	html{
		font-size: 12px
	}
}
@media (max-width: 860px){
	html{
		font-size: 10px
	}
	.score{
		font-size: 6rem
	}
}
@media (max-width: 660px){
	html{
		font-size: 8.6px;
	}
	.score{
		font-size: 7rem;
	}
	.tens-wrap > div{
		padding-bottom: 5rem;
	}
	.units-wrap > div{
		padding-top: 5rem;
	}
	.tens, .unit{
		width: 7rem;
		height: 5rem;
		border-radius: 20px;
	}

}

@media (max-width: 620px){

	html{
		font-size: 9px
	}
	.tens-wrap > div:nth-child(7), .units-wrap > div:nth-child(7), .line > div:nth-child(7){
		display: none;
	}
	.tens-wrap, .units-wrap, .line{
		-ms-grid-columns: (1fr)[7];
		grid-template-columns: repeat(7, 1fr);
	}
	.tens-wrap, .units-wrap{
		padding: 2px 0;
	}
	.unit{
		margin-bottom: 1px;
	}

	.tens-wrap > div{
		padding-bottom: 5rem;
	}
	.units-wrap > div{
		padding-top: 5rem;
	}
	.tens, .unit{
		height: 5rem;
	}

}


@media (max-width: 560px){
	
	html{
		font-size: 7.9px
	}
	.tens-wrap > div{
		padding-bottom: 5.4em;
	}
	.units-wrap > div{
		padding-top: 5.4rem;
	}
	.tens, .unit{
		width: 7.2rem;
		height: 5.4rem;
		border-radius: 18px
	}

}


@media (max-width: 480px){

	html{
		font-size: 6.3px;
	}
	.score{
		font-size: 10rem;
	}
	.line{
		grid-column-gap: 4px
	}
	.tens-wrap{
		grid-column-gap: 4px;
		padding: 2px 0;
	}
	.units-wrap{
		grid-column-gap: 4px
	}
	.tens-wrap > div{
		padding-bottom: 6rem;
	}
	.units-wrap > div{
		padding-top: 6rem;
	}
	.tens, .unit{
		width: 8rem;
		height: 6rem;
		margin-bottom: 1px;
	}


}
@media (max-width: 420px){
	html{
		font-size: 5.9px
	}
	.score{
		font-size: 12rem
	}
}

@media (max-width: 360px){

	html{
		font-size: 5px
	}
	.score{
		font-size: 12rem
	}


}
