@import './includes/_variables.scss';
@import './includes/_util.scss';
@import './includes/_text-animate.scss';
@import './includes/_preloader.scss';
@import './includes/_header_footer.scss';
@import './includes/_main.scss';


body{
	padding: 0;
}
.header_footer{
	display: none;
}

.content{
	justify-content: center;
	align-items: center;
}

h1{
	font-size: 5em
}
.button{
	align-self: center;
	min-width: 6em;
}