@import './includes/_variable.scss';
@import './includes/_header_footer.scss';
@import './includes/_main.scss';




.main{
	flex-direction: column;
	justify-content: center;
}
.content{
	margin: 60px 0;
}


.contact-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-links{
	display: flex;
	margin-bottom: 50px;
}

.contact-links a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin: 0;
	margin-right: 1em;
	border-radius: 50%;
}

.contact-text{
	position: relative;
	display: block;
	padding: 6px 12px;
	/* font-size: 1em;*/
}
.contact-text::before{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 1px;
	background: #fff;
	transition: .4s;
}
.contact-text:hover::before{
	left: 0;
	width: 100%;
}


@media (max-width: 420px){
	.contact-links{
		margin-bottom: 20px;
	}
}
