@import './includes/_variables.scss';
@import './includes/_util.scss';
@import './includes/_text-animate.scss';
@import './includes/_preloader.scss';
@import './includes/_header_footer.scss';
@import './includes/_main.scss';

.main{
	flex-wrap: wrap-reverse;
}

.img{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: .8;
}
.img img{
	display: block;
	width: 100%;
	min-width: 320px;
	max-width: 860px;
	height: 100%;
	max-height: 560px;
}


@media (max-width: 960px){
	.img{
		margin-bottom: 30px;
	}
	.img img{
		width: 60%;
		max-height: 420px;
	}
}
