header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  width: 250px;
  height: 100%;
  max-height: 100vh;
  background: #232B2E;
  color: #777;
  padding-bottom: 20px;
  text-align: right;
  font-weight: bold;
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 5; }

header.translate-0 {
  -webkit-box-shadow: 0 0 30px 5px #000a;
  box-shadow: 0 0 30px 5px #000a; }

.settings-link {
  position: fixed;
  top: 7px;
  right: 7px;
  width: 35px;
  height: 35px;
  color: #fff;
  text-align: center;
  font-size: 1.3em;
  line-height: 35px;
  border: 1px solid #fff;
  visibility: hidden;
  z-index: 999; }

.settings-link-close i::before {
  content: '\f00d'; }

.logo {
  width: 100%;
  height: 35%; }

.logo img {
  width: 100%;
  height: 100%; }

/*-----Nav-----*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: auto;
  -webkit-box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.3); }

.nav li > a {
  display: block;
  padding: 10px;
  padding-right: 20px;
  background: #323A3D;
  color: #eee;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.1em;
  letter-spacing: .7px;
  font-weight: lighter;
  border-bottom: 1.3px solid #0005;
  -webkit-transition: 1.4s;
  transition: 1.4s; }

.nav li > a:not(.active):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#323a3d), to(#222a2d));
  background: linear-gradient(#323a3d, #222a2d);
  background: -webkit-linear-gradient(#323a3d, #222A2D); }

.menu-link-active {
  background: #09FDD9 !important;
  color: #000 !important;
  /* text-shadow: 0px 0px 5px #000;*/
  -webkit-transform: scaleX(1.03) scaleY(1.1);
  transform: scaleX(1.03) scaleY(1.1); }

/*-----Nav-----*/
p.footer {
  display: block;
  margin-top: 15px;
  font-size: .8em;
  padding-right: 15px; }

@media (max-width: 760px) {
  .info {
    display: none; }

  .settings-link {
    visibility: visible; }

  header {
    width: 40%;
    min-width: 200px;
    max-width: 220px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%); } }
.visible {
  visibility: visible !important; }

.hide {
  visibility: hidden !important; }

.opacity-0 {
  opacity: 0; }

.opacity-1 {
  opacity: 1; }

.translate-0 {
  -webkit-transform: translate(0) !important;
  transform: translate(0) !important; }

.pre {
  white-space: pre; }

.pre span {
  display: inline-block; }

.pre span:hover {
  cursor: default; }

.preloader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 99999; }

.banter-loader__box::before {
  background: #09FDD9; }

@-webkit-keyframes text-animate {
  50% {
    -webkit-transform: translateY(-20%) scale(1.1);
    transform: translateY(-20%) scale(1.1); } }
@keyframes text-animate {
  50% {
    -webkit-transform: translateY(-20%) scale(1.1);
    transform: translateY(-20%) scale(1.1); } }
.text-animate {
  display: inline-block;
  color: #09FDD9;
  -webkit-animation: text-animate 1s;
  animation: text-animate 1s; }

.button {
  display: block;
  width: auto;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #09FDD9;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.1em;
  border: 1px solid #09FDD9;
  -webkit-transition: .4s;
  transition: .4s; }

.button:hover {
  background: #09FDD9;
  color: #000; }

.button-active {
  background: #09FDD9;
  color: #000; }

body {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  min-height: 100vh;
  background: #232B2E;
  color: #ddd;
  padding-left: 250px;
  font-size: 18px;
  line-height: 1.2;
  font-family: monospace; }

.body-start-text, .body-end-text {
  height: 10%;
  padding: 10px 0;
  font-style: italic; }

.code {
  color: #777;
  font-size: .9em;
  font-style: italic;
  white-space: pre-wrap; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px;
  padding-right: 1em; }

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 1.7em; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 320px; }

h1 {
  color: #eee;
  padding-left: .4em;
  font-size: 2.5em;
  font-weight: bold; }

@media (max-width: 760px) {
  body {
    padding-left: 0; }

  .wrap {
    padding: 0; }

  .main {
    padding-left: .5em; }

  .slider {
    margin: 0 !important; } }
@media (max-width: 960px) {
  body {
    font-size: 16px; }

  .main {
    padding-top: 10px;
    padding-bottom: 10px; } }
@media (max-width: 480px) {
  body {
    font-size: 14px; } }
.main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.content {
  margin: 60px 0; }

.contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px; }

.contact-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 1em;
  border-radius: 50%; }

.contact-text {
  position: relative;
  display: block;
  padding: 6px 12px;
  /* font-size: 1em;*/ }

.contact-text::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #fff;
  -webkit-transition: .4s;
  transition: .4s; }

.contact-text:hover::before {
  left: 0;
  width: 100%; }

@media (max-width: 420px) {
  .contact-links {
    margin-bottom: 20px; } }

/*# sourceMappingURL=style.css.map */
