header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  width: 250px;
  height: 100%;
  max-height: 100vh;
  background: #232B2E;
  color: #777;
  padding-bottom: 20px;
  text-align: right;
  -webkit-box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 5; }

header.translate-0 {
  -webkit-box-shadow: 0 0 30px 5px #000a;
  box-shadow: 0 0 30px 5px #000a; }

.settings-link {
  position: fixed;
  top: 7px;
  right: 7px;
  width: 35px;
  height: 35px;
  color: #fff;
  text-align: center;
  font-size: 1.3em;
  line-height: 35px;
  border: 1px solid #fff;
  visibility: hidden;
  z-index: 999; }

.settings-link-close i::before {
  content: '\f00d'; }

.logo {
  width: 100%;
  height: 35%; }

.logo img {
  width: 100%;
  height: 100%; }

/*-----Nav-----*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: auto;
  -webkit-box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.3); }

.nav li > a {
  display: block;
  padding: 10px;
  padding-right: 20px;
  background: #323A3D;
  color: #eee;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.1em;
  letter-spacing: .7px;
  font-weight: lighter;
  border-bottom: 1.3px solid #0005;
  -webkit-transition: 1.4s;
  transition: 1.4s; }

.nav li > a:not(.active):hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#323a3d), to(#222a2d));
  background: linear-gradient(#323a3d, #222a2d);
  background: -webkit-linear-gradient(#323a3d, #222A2D); }

.menu-link-active {
  background: #09FDD9 !important;
  color: #000 !important;
  /* text-shadow: 0px 0px 5px #000;*/
  -webkit-transform: scaleX(1.03) scaleY(1.1);
  transform: scaleX(1.03) scaleY(1.1); }

/*-----Nav-----*/
p.footer {
  display: block;
  margin-top: 15px;
  font-size: .8em;
  padding-right: 15px; }

@media (max-width: 760px) {
  .info {
    display: none; }

  .settings-link {
    visibility: visible; }

  header {
    width: 40%;
    min-width: 200px;
    max-width: 220px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%); } }
.visible {
  visibility: visible !important; }

.hide {
  visibility: hidden !important; }

.opacity-0 {
  opacity: 0; }

.opacity-1 {
  opacity: 1; }

.translate-0 {
  -webkit-transform: translate(0) !important;
  transform: translate(0) !important; }

.pre {
  white-space: pre; }

.pre span {
  display: inline-block; }

.pre span:hover {
  cursor: default; }

.preloader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 99999; }

.banter-loader__box::before {
  background: #09FDD9; }

@-webkit-keyframes text-animate {
  50% {
    -webkit-transform: translateY(-20%) scale(1.1);
    transform: translateY(-20%) scale(1.1); } }
@keyframes text-animate {
  50% {
    -webkit-transform: translateY(-20%) scale(1.1);
    transform: translateY(-20%) scale(1.1); } }
.text-animate {
  display: inline-block;
  color: #09FDD9;
  -webkit-animation: text-animate 1s;
  animation: text-animate 1s; }

.button {
  display: block;
  width: auto;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #09FDD9;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.1em;
  border: 1px solid #09FDD9;
  -webkit-transition: .4s;
  transition: .4s; }

.button:hover {
  background: #09FDD9;
  color: #000; }

.button-active {
  background: #09FDD9;
  color: #000; }

body {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  min-height: 100vh;
  background: #232B2E;
  color: #ddd;
  padding-left: 250px;
  font-size: 18px;
  line-height: 1.2;
  font-family: monospace; }

.body-start-text, .body-end-text {
  height: 10%;
  padding: 10px 0;
  font-style: italic; }

.code {
  color: #777;
  font-size: .9em;
  font-style: italic;
  white-space: pre-wrap; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px;
  padding-right: 1em; }

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 1.7em; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 320px; }

h1 {
  color: #eee;
  padding-left: .4em;
  font-size: 2.5em;
  font-weight: bold; }

@media (max-width: 760px) {
  body {
    padding-left: 0; }

  .wrap {
    padding: 0; }

  .main {
    padding-left: .5em; }

  .slider {
    margin: 0 !important; } }
@media (max-width: 960px) {
  body {
    font-size: 16px; }

  .main {
    padding-top: 10px;
    padding-bottom: 10px; } }
@media (max-width: 480px) {
  body {
    font-size: 14px; } }
.slides {
  width: 100%;
  height: 100%;
  -webkit-transition: .4s;
  transition: .4s; }

.slide {
  width: 100%;
  height: 100%;
  -webkit-transition: .4s;
  transition: .4s; }

.slide-active {
  opacity: 1 !important;
  z-index: 50; }

.slide > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.controls-wrap, .controls-wrap > * {
  z-index: 99; }

.next, .prev {
  position: absolute;
  padding: 5px;
  font-size: 2em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .4s;
  transition: .4s; }

.prev {
  left: 0;
  top: 50%; }

.next {
  top: 50%;
  right: 0; }

.slide-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 2%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.slide-dots a {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 8px;
  background: #bbb;
  border: 1px solid #111;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s; }

.slide-dots a:last-child {
  margin-right: 0; }

a.dots-active {
  background: #fff;
  border-color: #000; }

.disable {
  opacity: .3; }

.fade-out-slider, .slide-slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.fade-ot-slider > .slides {
  position: absolute; }

.fade-out-slider > .slides .slide {
  position: absolute;
  opacity: 0;
  -webkit-transition: .4s;
  transition: .4s; }

.slide-slider > .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto; }

.slide-slider > .slides .slide {
  min-width: 100%; }

/*timeline*/
.timeline > .slides {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.timeline > .controls-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.timeline > .controls-wrap .next,
.timeline > .controls-wrap .prev,
.timeline > .controls-wrap .slide-dots,
.timeline > .controls-wrap .slide-dots a {
  position: static;
  margin: 0;
  -webkit-transform: translate(0);
  transform: translate(0); }

.timeline > .controls-wrap .next {
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10; }

.timeline > .controls-wrap .slide-dots {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.timeline > .controls-wrap .slide-dots a {
  margin-bottom: 10px; }

.timeline > .controlsWrap .slide-dots a:first-child {
  margin-top: 10px; }

.timeline > .only-button {
  top: 10%;
  bottom: 10%;
  -webkit-transform: translate(0);
  transform: translate(0); }

.only-button .next {
  margin-top: auto !important; }

/* ---fulPage--- */
.fullpage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 99; }

.main {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }

.about-text {
  margin-top: 30px;
  padding-left: 1em; }

.content {
  width: 40%; }

.main {
  -webkit-perspective: 1000px;
  perspective: 1000px; }

@-webkit-keyframes piramid-rotate {
  25% {
    -webkit-transform: rotateX(-50deg) rotateY(-360deg);
    transform: rotateX(-50deg) rotateY(-360deg); }
  55% {
    -webkit-transform: rotateX(0deg) rotateY(-60deg);
    transform: rotateX(0deg) rotateY(-60deg); }
  80% {
    -webkit-transform: rotateX(70deg) rotateY(150deg);
    transform: rotateX(70deg) rotateY(150deg); } }
@keyframes piramid-rotate {
  25% {
    -webkit-transform: rotateX(-50deg) rotateY(-360deg);
    transform: rotateX(-50deg) rotateY(-360deg); }
  55% {
    -webkit-transform: rotateX(0deg) rotateY(-60deg);
    transform: rotateX(0deg) rotateY(-60deg); }
  80% {
    -webkit-transform: rotateX(70deg) rotateY(150deg);
    transform: rotateX(70deg) rotateY(150deg); } }
.piramid {
  position: relative;
  width: 240px;
  min-width: 240px;
  height: 240px;
  min-height: 240px;
  margin: 70px;
  margin-top: -30px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: piramid-rotate 25s linear infinite;
  animation: piramid-rotate 25s linear infinite; }

.side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 240px;
  min-height: 240px;
  padding-bottom: 40px;
  background: #0d0d0d;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%); }

.side img {
  display: block;
  margin-top: auto;
  width: 40%;
  height: 40%; }

.base {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-clip-path: none;
  clip-path: none;
  -webkit-transform: translateY(119.2px) rotateX(90deg) rotateY(180deg);
  transform: translateY(119.2px) rotateX(90deg) rotateY(180deg); }

.base img {
  width: 80%;
  height: 80%; }

.left {
  -webkit-transform: translateX(-119.2px) rotateY(-90deg) rotateX(30deg);
  transform: translateX(-119.2px) rotateY(-90deg) rotateX(30deg); }

.right {
  -webkit-transform: translateX(119.2px) rotateY(90deg) rotateX(30deg);
  transform: translateX(119.2px) rotateY(90deg) rotateX(30deg); }

.front {
  -webkit-transform: translateZ(119.2px) rotateX(30deg);
  transform: translateZ(119.2px) rotateX(30deg); }

.back {
  -webkit-transform: translateZ(-119.2px) rotateY(180deg) rotateX(30deg);
  transform: translateZ(-119.2px) rotateY(180deg) rotateX(30deg); }

.slider {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1; }

.slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slide::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #232B2Edd;
  z-index: 1; }

.slide img {
  top: 50%;
  left: 50%;
  width: auto;
  max-width: 90%;
  height: 80%; }

@media (max-width: 960px) {
  .piramid {
    margin-top: 40px;
    margin-bottom: 100px; } }
@media (max-width: 760px) {
  .piramid {
    display: none; }

  .slider {
    display: block; } }
@media (max-width: 480px) {
  .slide img {
    height: 50%; } }

/*# sourceMappingURL=style.css.map */
