header
	a(href='#' class='toggle-menu-link')
		i(class='fa fa-navicon')


	.logo
		img(src='assets/images/logo-low.png' alt='')
	nav
		a.menu-link(href='index.html')
		a.menu-link(href='about.html')
		a.menu-link(href='skills.html')
		a.menu-link(href='works.html')
		a.menu-link(href='contact.html')