.header_footer_wrap
	.toggle-menu-link
		i(class='fa fa-navicon')


	.header_footer
		header
			.logo
				img(src='assets/images/logo-low.png' alt='')
			nav
				a.menu-link(href='index.html') Home
				a.menu-link(href='about.html') About
				a.menu-link(href='skills.html') Skills
				a.menu-link(href='works.html') Works
				a.menu-link(href='contacts.html') contacts

		footer
			p
				span.current-year 
				span  @RavshanSelimov