@import './assets/_variable.scss';
@import './assets/_preloader.scss';
@import './assets/_header.scss';
@import './assets/_main.scss';


.main{
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}

.img{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-flex: .8;
	-ms-flex: .8;
	flex: .8;
}
.img img{
	display: block;
	width: 100%;
	min-width: 320px;
	max-width: 1000px;
	height: 100%;
	max-height: 560px; 
}


@media (max-width: 960px){
	.img{
		margin-bottom: 30px;
	}
	.img img{
		width: 60%;
		max-height: 420px;
	}
}