extends ./common/base.pug


block variables
	- var title = 'Contacts';
	- var description = 'Ravshan selimov Portfolio, contacts';


block styles
	link(rel="stylesheet" href="/assets/css/contacts.css")