extends ./common/base.pug


block variables
	- var title = 'Skills';
	- var description = 'Ravshan selimov Portfolio, skills';


append styles
	link(rel="stylesheet" href="/assets/css/skills.css")

append scripts
	script(src="/assets/js/assets/slider.js" defer)
	script(src="/assets/js/includes/skills/Cube.js" defer)
	script(src="/assets/js/skills.js" defer)




block content
	main

		.text
			<span class="code">&lth1&gt</span>
			h1.pre(data-text="My skills")
			<span class="code">&lt/h1&gt</span>

		.cube-wrap
			.cube
				<div class="front">  <img src="assets/images/code-logo/js.png" alt="javascript">     </div>
				<div class="back">   <img src="assets/images/code-logo/typescript.png" alt="typescript">    </div>
				<div class="left">   <img src="assets/images/code-logo/react.png" alt="react">  </div>
				<div class="right">  <img src="assets/images/code-logo/vue.png" alt="vue"> </div>
				<div class="top">    <img src="assets/images/code-logo/php.png" alt="php">   </div>
				<div class="bottom"> <img src="assets/images/code-logo/github.png" alt="github">    </div>
			.cube-info Mousedown then Mousemove



		.slider
			.slides

				.slide
					span JavaScript
					img(src="assets/images/code-logo/js.png" alt="javascript")

				.slide
					span TypeScript
					img(src="assets/images/code-logo/typescript.png" alt="typescript")

				.slide 
					span NodeJs
					img(src="assets/images/code-logo/nodejs.jpeg" alt="nodeJs")

				.slide
					span React
					img(src="assets/images/code-logo/react.png" alt="react")

				.slide
					span Vue
					img(src="assets/images/code-logo/vue.png" alt="vue")

				.slide
					span PHP
					img(src="assets/images/code-logo/php.png" alt="php")

				.slide
					span Laravel
					img(src="assets/images/code-logo/laravel.jpg" alt="laravel")

				.slide
					span Git
					img(src="assets/images/code-logo/github.png" alt="git")

				.slide
					span Gulp
					img(src="assets/images/code-logo/gulp.png" alt="gulp")

				.slide
					span HTML       
					img(src="assets/images/code-logo/html.png" alt="html")

				.slide  
					span PUG       
					img(src="assets/images/code-logo/pug.png" alt="pug" style=" border-radius: 50% ")
	     
				.slide
					span CSS
					img(src="assets/images/code-logo/css.png" alt="css")
	     
				.slide
					span SASS
					img(src="assets/images/code-logo/sass.png" alt="sass")

	     
