extends ./common/base.pug

block variables
	- var title = 'Works';
	- var description = 'Ravshan selimov Portfolio, my projects';



append styles
	link(rel="stylesheet" href="/assets/css/works.css")
append scripts
	script(src="/assets/js/works.js")



block content
	main

		- const sectionCount = 12; 
		- 
			let works = [ 
				{
					image : '/assets/images/works/planes.png',
					text  : 'Mini Game',
					link  : '/projects/planes/index.html'
				},
				{
					image : '/assets/images/works/color-generator.png',
					text  : 'Color Generator',
					link  : '/projects/color-generator/index.html'
				},	
				{
					image : '/assets/images/works/mental-trainers.png',
					text  : 'Mental Trainers',
					link  : 'https://ravshan01.gitlab.io' 
				},
				{
					image : '/assets/images/works/paint-app.jpg',
					text  : 'Paint App',
					link  : '/projects/paint-app/index.html'
				},	
				{
					image : '/assets/images/works/empty.jpg',
					text  : 'Empty',
					link  : '#'
				},
				{
					image : '/assets/images/works/shulte-table.jpg',
					text  : 'Shulte Table',
					link  : '/projects/schulte-table/index.html'
				},
			];
		- 
			for (;sectionCount - works.length !== 0;) works.push({
				image : '/assets/images/works/empty.jpg',
				text  : 'Empty',
				link  : '#'
			});




		each val in works
			section
				img(src = val.image alt="")

				div(class="img-hover")
					.exposition
						span #{val.text}
					a(href= val.link target="_blank") <i class="fa fa-arrow-right"></i>

	</main>