extends ./common/base.pug

block variables
	- var title = 'Works';
	- var description = 'Ravshan selimov Portfolio, my projects';



append styles
	link(rel="stylesheet" href="/assets/css/works.css")


block content
	
	//- 16 sections
	main

		section
			img(src="assets/images/works/paint.jpg" alt="")

			.img-hover
				.exposition
					span Paint App
				a(href="projects/paint_app/index.html" target="_blank")
					i(class="fa fa-arrow-right")

		section
			img(src="assets/images/works/color-genrator.png" alt="")

			.img-hover
				.exposition
					span Color Generator
				a(href="projects/color-generator/index.html" target="_blank")
					i(class="fa fa-arrow-right")

		section
			img(src="assets/images/works/k.jpg" alt="")

			.img-hover
				.exposition
					span Shulte table
				a(href="projects/schulte-table/index.html" target="_blank")
					i(class="fa fa-arrow-right")


		section
			img(src="assets/images/works/mental-trainers.png" alt="")

			.img-hover
				.exposition
					span Mental Trainers
				a(href="https://ravshan01.gitlab.io" target="_blank")
					i(class="fa fa-arrow-right")


		section
			img(src="assets/images/works/empty.jpg" alt="")

			.img-hover
				.exposition
					span empty
				a(href="#" target="_blank")
					i(class="fa fa-arrow-right")

		section
			img(src="assets/images/works/empty.jpg" alt="")

			.img-hover
				.exposition
				<spa >emty
				a(href="#" target="_blank")
					i(class="fa fa-arrow-right")

		section
			img(src="assets/images/works/empty.jpg" alt="")

			.img-hover
				.exposition
					span Empty
				a(href="#" target="_blank")
					i(class="fa fa-arrow-right")

		section
			img(src="assets/images/works/empty.jpg" alt="")

			.img-hover
				.exposition
					span Empty
				a(href="#" target="_blank")
					i(class="fa fa-arrow-right")

		section
			img(src="assets/images/works/empty.jpg" alt="")

			.img-hover
				.exposition
					span Empty
				a(href="#" target="_blank")
					i(class="fa fa-arrow-right")

		section
			img(src="assets/images/works/empty.jpg" alt="")

			.img-hover
				.exposition
					span Empty
				a(href="#" target="_blank")
					i(class="fa fa-arrow-right")

		section
			img(src="assets/images/works/empty.jpg" alt="")

			.img-hover
				.exposition
					span Empty
				a(href="#" target="_blank")
					i(class="fa fa-arrow-right")

		section
			img(src="assets/images/works/empty.jpg" alt="")

			.img-hover
				.exposition
					span Empty
				a(href="#" target="_blank")
					i(class="fa fa-arrow-right")
	</main>