extends ./common/base.pug

block variables
	- var title = 'Works';
	- var description = 'Ravshan selimov Portfolio, my projects';


append styles
	link(rel="stylesheet" href="/assets/css/works.css")
append scripts
	script(src="/assets/js/works.js")



block content
	main

		- const sectionCount = 12; 
		- 
			let works = [
				{
					image : '/assets/images/works/bc-pro.png',
					text  : 'BcPro',
					link  : 'https://bcpro.ru'
				},
				{
					image : '/assets/images/works/children-planet-site.png',
					text  : "Web Site",
					link  : 'https://children-planet.ru'
				},
				{
					image : '/assets/images/works/goflowly.jpg',
					text  : 'GoFlowly',
					link  : 'https://goflowly.com'
				},
				{
					image : '/assets/images/works/children-planet-blog.png',
					text  : 'Blog',
					link  : 'https://blog.children-planet.ru'
				},
				{
					image : '/assets/images/works/children-planet-trainers.png',
					text  : 'Math Trainers',
					link  : 'https://children-planet.ru/trainers'
				}
			];
		- 
			for (;sectionCount - works.length !== 0;) works.push({
				image : '/assets/images/works/empty.jpg',
				text  : 'Empty',
				link  : '#'
			});




		each val in works
			section
				img(src = val.image alt="")

				div(class="img-hover")
					.exposition
						span #{val.text}
					a(href= val.link target="_blank") <i class="fa fa-arrow-right"></i>

	</main>