extends ./common/base.pug

block variables
	- var title = 'Works';
	- var description = 'Ravshan selimov Portfolio, my projects';


append styles
	link(rel="stylesheet" href="/assets/css/works.css")
append scripts
	script(src="/assets/js/works.js")



block content
	main

		- const sectionCount = 12; 
		- 
			let works = [ 

			];
		- 
			for (;sectionCount - works.length !== 0;) works.push({
				image : '/assets/images/works/empty.jpg',
				text  : 'Empty',
				link  : '#'
			});




		each val in works
			section
				img(src = val.image alt="")

				div(class="img-hover")
					.exposition
						span #{val.text}
					a(href= val.link target="_blank") <i class="fa fa-arrow-right"></i>

	</main>