body{
	position: relative;
	width: 100%;
	min-width: 320px;
	height: auto;
	min-height: 100vh;
	background: #002;
	color: #fff;
	padding-left: 250px;

	font-size: 18px;
	line-height: 1.2;
	font-family: monospace;
}

.body-start-text, .body-end-text{
	height: 10%;
	padding: 10px 0;
	font-style: italic;
}