.slides{
	width: 100%;
	height: 100%;
	transition: .4s;
}
.slide{
	width: 100%;
	height: 100%;
	transition: .4s;
}
.slide-active{
	opacity: 1!important;
	z-index: 50;
}
.slide > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/*--- Conrols and Dots ---*/

.controls-wrap, .controls-wrap > *{
	z-index: 99;
}
.next, .prev{
	position: absolute;
	padding: 5px;
	color: inherit;
	font-size: 2em;
	transform: translateY(-50%);
	transition: .4s;
}
.prev{
	left: 0;
	top: 50%;
}
.next{
	top: 50%;
	right: 0;
}


.slide-dots{
	display: flex;
	position: absolute;
	left: 50%;
	bottom: 2%;
	transform: translateX(-50%);
}
.slide-dots a{
	display: block;
	width: 25px;
	height: 25px;
	margin-right: 8px;
	background: #fff;
	border: 1px solid #000;
	border-radius: 50%;
	transition: .4s;
}
.slide-dots a:last-child{
	margin-right: 0;
}

a.dots-active{
	background: #000;
	border-color: #fff;
}
.disable{
	opacity: .3;
}





.fade-out-slider, .slide-slider{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.fade-ot-slider > .slides{
	position: absolute;
}
.fade-out-slider > .slides .slide{
	position: absolute;
	opacity: 0;
	transition: .4s;
}

.slide-slider > .slides{
	display: flex;
	width: auto;
}
.slide-slider > .slides .slide{
	min-width: 100%;
}



/*timeline*/

.timeline > .slides{
	flex-direction: column;
}


.timeline > .controls-wrap{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
}

.timeline > .controls-wrap .next,
.timeline > .controls-wrap .prev,
.timeline > .controls-wrap .slide-dots,
.timeline > .controls-wrap .slide-dots a{
	position: static;
	margin: 0;
	transform: translate(0);
}
.timeline > .controls-wrap .next{
	order: 10;
}

.timeline > .controls-wrap .slide-dots{
	flex-direction: column;
}
.timeline > .controls-wrap .slide-dots a{
	margin-bottom: 10px;
}
.timeline > .controlsWrap .slide-dots a:first-child{
	margin-top: 10px;
}

.timeline > .only-button{
	top: 10%;
	bottom: 10%;
	transform: translate(0);
}
.only-button .next{
	margin-top: auto!important;
}



/* ---fulPage--- */

.fullpage{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	z-index: 99;
}
