@import '../assets/_variable.scss';
@import '../assets/_preloader.scss';
@import '../assets/_header.scss';
@import '../assets/_main.scss'; 
@import '../assets/_slider.scss';


.main{
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}

.about-text{
	margin-top: 30px;
	padding-left: 1em;
}
.content{
	width: 40%;
}

.main{
	-webkit-perspective: 1000px;
	perspective: 1000px;
}



@-webkit-keyframes piramid-rotate{
	25%{
		-webkit-transform: rotateX(-50deg) rotateY(-360deg);
		transform: rotateX(-50deg) rotateY(-360deg);
	}
	55%{
		-webkit-transform: rotateX(0deg) rotateY(-60deg);
		transform: rotateX(0deg) rotateY(-60deg);
	}
	80%{
		-webkit-transform: rotateX(70deg) rotateY(150deg);
		transform: rotateX(70deg) rotateY(150deg);
	}
}



@keyframes piramid-rotate{
	25%{
		-webkit-transform: rotateX(-50deg) rotateY(-360deg);
		transform: rotateX(-50deg) rotateY(-360deg);
	}
	55%{
		-webkit-transform: rotateX(0deg) rotateY(-60deg);
		transform: rotateX(0deg) rotateY(-60deg);
	}
	80%{
		-webkit-transform: rotateX(70deg) rotateY(150deg);
		transform: rotateX(70deg) rotateY(150deg);
	}
}


.piramid{
	position: relative;
	width: 240px;
	min-width: 240px;
	height: 240px;
	min-height: 240px;
	margin: 70px;
	margin-top: -30px;

	-webkit-transform-style: preserve-3d;

	transform-style: preserve-3d;
	-webkit-animation: piramid-rotate 25s linear infinite;
	animation: piramid-rotate 25s linear infinite;
}


.side{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 240px;
	min-height: 240px;
	padding-bottom: 40px;
	background: #0d0d0d;

	-webkit-transform-origin: bottom center;

	transform-origin: bottom center;
	-webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}
.side img{
	display: block;
	margin-top: auto;
	width: 40%;	
	height: 40%;
}


.base{
	-webkit-transform-origin: center center;
	transform-origin: center center;
	-webkit-clip-path: none;
	clip-path: none;

	-webkit-transform: translateY(119.2px) rotateX(90deg) rotateY(180deg);

	transform: translateY(119.2px) rotateX(90deg) rotateY(180deg);
}
.base img{
	width: 80%;
	height: 80%;
}

.left{
	-webkit-transform: translateX(-119.2px) rotateY(-90deg) rotateX(30deg);
	transform: translateX(-119.2px) rotateY(-90deg) rotateX(30deg);
}
.right{
	-webkit-transform: translateX(119.2px) rotateY(90deg) rotateX(30deg);
	transform: translateX(119.2px) rotateY(90deg) rotateX(30deg);
}

.front{
	-webkit-transform: translateZ(119.2px) rotateX(30deg);
	transform: translateZ(119.2px) rotateX(30deg);
}
.back{
	-webkit-transform: translateZ(-119.2px) rotateY(180deg) rotateX(30deg);
	transform: translateZ(-119.2px) rotateY(180deg) rotateX(30deg);
}



.slider{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}

.slide{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.slide::before{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #232B2Edd;
	z-index: 1;
}

.slide img{
	top: 50%;
	left: 50%;
	width: auto;
	max-width: 90%;	
	height: 80%;
}




@media (max-width: 960px){
	.piramid{
		margin-top: 40px;
		margin-bottom: 100px;
	}
}


@media (max-width: $mobWidth){

	.piramid{
		display: none;
	}
	.slider{
		display: block;
	}
}

@media (max-width: 480px){
	.slide img{
		height: 50%;
	}
}
